ion-content{
    ion-grid{
        ion-row{
            ion-col{
                img{
                    &.imgTop{
                        margin: 50px 0;
                        width: 300px;
                        @media (min-width: 319px) {
                            max-width: 70%;
                        }
                        @media (min-width: 374px) {
                            max-width: 80%;
                        }
                        @media (min-width: 415px) {
                            max-width: 100%;
                        }
                    }
                }
                ion-card{
                    margin: 0 auto;
                    padding: 0 0 30px;
                    @media (min-width: 319px) {
                        max-width: 90%;
                    }
                    @media (min-width: 374px) {
                        max-width: 90%;
                    }
                    @media (min-width: 415px) {
                        max-width: 60%;
                    }
                    ion-item{
                        font-family: 'Poppins', sans-serif;
                        margin: 20px 0;
                        border-bottom: 2px solid #E6E6E6;
                        ion-icon{
                            color: #bdbdbd
                        }
                        ion-input{
                            color: #414141;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                    ion-button{
                        font-family: 'Poppins', sans-serif;
                        --border-radius: 50px;
                        --background: #2f6da8; /* Old browsers */
                        --background: -moz-linear-gradient(left, #2f6da8 0%, #3192c8 76%, #73ad7d 100%); /* FF3.6-15 */
                        --background: -webkit-linear-gradient(left, #2f6da8 0%,#3192c8 76%,#73ad7d 100%); /* Chrome10-25,Safari5.1-6 */
                        --background: linear-gradient(to right, #2f6da8 0%,#3192c8 76%,#73ad7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        --background-activated:  #006fa6;
                        --background-focused: #006fa6;
                        --background-hover: #006fa6;
                        min-width: 100%;
                    }
                }
            }
        }
    }
    footer{
        --background: none;
        background-image: url(../../../assets/images/backion.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        min-height: 250px;
        max-height: 250px;
    }
}